@page "/professional"
@using Entity
@inject HttpClient http

<div class="limit-width">
    <RadzenCard>
        <RadzenTimeline>
            <Items>
                @foreach (WorkExperience job in jobs)
                {
                    <RadzenTimelineItem PointStyle="PointStyle.Secondary" PointSize="PointSize.Medium"> 
                        <LabelContent>
                            <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0">@job.startDate?.ToShortDateString() - @(job.endDate?.ToShortDateString() ?? "Present")</RadzenText>
                        </LabelContent>
                        <ChildContent>
                            @job.Title at @job.Company
                        </ChildContent>
                    </RadzenTimelineItem>
                }

            </Items>
        </RadzenTimeline>

        <RadzenButton ButtonStyle="ButtonStyle.Light"> <RadzenLink Path=@(http.BaseAddress + "data/pdf/Resume.pdf") Text="Download Resume"></RadzenLink> </RadzenButton>
    </RadzenCard>
</div>

@code {
    private List<WorkExperience> jobs = new List<WorkExperience>();

    protected async override void OnInitialized()
    {
        string endPoint = http.BaseAddress + "data/json/";
        jobs = await http.GetFromJsonAsync<List<WorkExperience>>(endPoint + "workExperience.json");
        StateHasChanged();
    }
}


