@page "/"
@using blog.Entity;
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="limit-width">
    <RadzenRow Gap="5" RowGap="5">
        <RadzenColumn Size="12">

            <!--Welcome Section-->
            @*<RadzenText Text="Welcome to My Page" TextStyle="Radzen.Blazor.TextStyle.DisplayH2" TagName="Radzen.Blazor.TagName.Auto"></RadzenText>*@
            <RadzenCard Style="margin-top: 40px; padding: 20px 40px 40px;">
                <RadzenRow>
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenIcon Icon="code" Style="margin-top: 20px; width: 48px; height: 48px; font-size: 48px; color: var(--rz-text-title-color);"></RadzenIcon>
                        <RadzenText Text="See my repos" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                        <RadzenLink Text="GitHub" Path="https://github.com/UmidMuzrapov" Icon="east" Target="_blank" Style="font-size: 18px"></RadzenLink>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenIcon Icon="people_outline" Style="margin-top: 20px; width: 48px; height: 48px; font-size: 48px; color: var(--rz-text-title-color);"></RadzenIcon>
                        <RadzenText Text="Community" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                        <RadzenLink Text="LinkedIn" Path="https://www.linkedin.com/in/umidmuzrapov/" Icon="east" Target="_blank" Style="font-size: 18px"></RadzenLink>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>

            <RadzenCard>
                <RadzenRow>

                    <RadzenText Text="About me" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3" Style="padding-top: 20px"></RadzenText>

                    <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P">
                        I am a Computer Science and Mathematics major at the University of Arizona. I have taken courses on software engineering, algorithms, database design and mathematical analysis.
                        I work part-time as a software developer on campus, where I created the system to track chemical sprays across the campus and contributed to other critical projects.
                    </RadzenText>



                    <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P">
                        My great interests are software development, architecting scalable solutions, and writing maintainable code.
                        Complex problems motivate me. Through college and work experience, I developed several software systems using diverse technologies such as C#, Java, ASP.NET, AWS, C, LISP, Prolog, Haskell, Docker, GitHub, and relational databases.
                    </RadzenText>


                </RadzenRow>

                <RadzenRow>
                    <RadzenText Text="Projects" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3" Style="padding-top: 20px"></RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P">
                        The primary purpose of this site is to showase my projects and give infromation about me. The projects are done independently, as a part of schoolwork or an online course. If you have any question regarding my projects, feel free to email me.
                    </RadzenText>
                </RadzenRow>
                
            </RadzenCard>

            <RadzenCard>
                <RadzenText Text="Courses" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3" Style="padding-top: 20px" ></RadzenText>
                <RadzenDataGrid Data="@courses" TItem="Course" AllowSorting="true" AllowPaging="true" PageSize="6">
                    <Columns>
                        <RadzenDataGridColumn TItem="Course" Property="Name" Title="Course">
                            <Template Context="data">
                                <p style="white-space:pre-wrap">@data.Name</p>
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TItem="Course" Property="Description" Title="Description">
                            <Template Context="data">
                                <p style="white-space:pre-wrap">@data.Description</p>
                            </Template>
                            </RadzenDataGridColumn>
                    </Columns>

                </RadzenDataGrid>
            </RadzenCard>

        </RadzenColumn>
    </RadzenRow>

</div>


@code {
    List<Course> courses = new List<Course>();

    protected async override void OnInitialized()
    {
        string endPoint = Http.BaseAddress + "data/json/";
        courses = await Http.GetFromJsonAsync<List<Course>>(endPoint + "universityCourses.json");
        StateHasChanged();
    }
}