@if (Skill!=null)
{
    <div id="skill-card">

        <div class="frame">

            <div class="card-body">
                @if (Skill.Level>=80) SkillColor="rz-background-color-series-1";
                else if (Skill.Level>60 & Skill.Level<80) SkillColor="rz-background-color-series-5";
                else SkillColor="rz-background-color-danger-lighter";
                
                <div class="progress">
                    <div class="progress-bar @SkillColor" role="progressbar" aria-label="Basic example" style="width: @Skill.Level%" aria-valuenow="@Skill.Level" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text"> <RadzenText Text=@Skill.Name TextStyle="TextStyle.Body1"> </RadzenText></p>
            </div>
        </div>
    </div>

}


@code {
    [Parameter]
    public Entity.Skill Skill { get; set; }

    public string SkillColor { get; set;}
}