@inject HttpClient http

<div class=" rz-shadow-6">
    <RadzenMenu>
        <RadzenMenuItem Text="General" Path=""> </RadzenMenuItem>
        @*<RadzenMenuItem Text="Experience" >
            <RadzenMenuItem Text="Professional" Path=@RelativeToBase("professional")> </RadzenMenuItem>
            @*<RadzenMenuItem Text="Education" Path=@RelativeToBase("education")> </RadzenMenuItem>
            <RadzenMenuItem Text="Skills" Path=@RelativeToBase("skills")></RadzenMenuItem>
        </RadzenMenuItem>*@

        <RadzenMenuItem Text="Contact">
            <RadzenMenuItem Text="LinkedIn" Target="_blank" Path="https://www.linkedin.com/in/umidmuzrapov/">  </RadzenMenuItem>
            <RadzenMenuItem Text="GitHub" Target="_blank" Path="https://github.com/UmidMuzrapov">  </RadzenMenuItem>
            <RadzenMenuItem Text="Email" Target="_blank" Path="mailto:umidmuzrapov@arizona.edu?subject=Please enter the subject field.">  </RadzenMenuItem>
        </RadzenMenuItem>
    </RadzenMenu>
</div>

@code {
    private string RelativeToBase(string relative)
    {
        return http.BaseAddress + relative;
    }
}