<div class=" rz-shadow-6">
<RadzenMenu>
    <RadzenMenuItem Text="General" Path="" Icon="home"> </RadzenMenuItem>
    <RadzenMenuItem Text="Experience" Path=""></RadzenMenuItem>
    <RadzenMenuItem Text="Projects"></RadzenMenuItem>
    <RadzenMenuItem Text="Studies"></RadzenMenuItem>
</RadzenMenu>
</div>